@media (max-width: 1200px) { 

	.five_title::after {
		display: none;
	}

	.fth_title::after {
		display: none;
	}

	.card-body {
		height: auto;
	}

	.main-info {
		margin-top: 10%;
	}

	.section_3 {
		height: 100%;
	}


}

@media (max-width: 992px) { 

	.main-title {
		font-size: 8.9vh;
	}

	.main-info {
		margin-top: 24%;
	}

	.cont {
		align-items: center;
	}

	.cont .cards {
		width: 400px;
	}
}

@media (max-width: 768px) { 

	.main-title {
		font-size: 7.9vh;
	}

	.cont .cards {
		max-width: 300px;
		flex-direction: column;
		height: auto;
	}

	.cont .cards .imgBx {
		position: relative;
		box-shadow: none;
	}

	.cont .cards .imgBx,
	.cont .cards:hover .imgBx {
		width: 100%;
		height: 200px;
		left: 0;

	}

	.cont .cards .imgBx img,
	.cont .cards:hover .imgBx img {
		max-width: 100px;
	}

	.cont .cards .content {
		position: relative;
		width: 100%;
	}
}


@media (max-width: 576px) { 

	.main-title {
		font-size: 5.6vh;
	}

	.main-info {
		margin-top: 45%;
	}

	.second-text {
		font-size: 2.3vh;
	}

}
