body {
	background-color: #fafafa; 
	font-family: 'Montserrat', sans-serif;

}

button {
	cursor: pointer;
	background-color: transparent;
	border: none;
}

div, p, span, a, input, button {
	box-sizing: border-box;
}

a {

	text-decoration: none;
	background-color: transparent;

  }

/* Firs Page */

.header {
	background-image: url("../img/1.jpg"); /* The image used */
	background-color: #000000; /* Used if the image is unavailable */
	height: 100vh; /* You must set a specified height */
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
}

.nav-title {
	font-weight: bold;
	color: #fafafa;
	letter-spacing: 1px;
}

.navbar-brand {
	font-size: 1.55rem !important;
}

.nav-title:hover {
	color: #fff;
}

.nav-phone {
	font-weight: bold;
	color: #fafafa;
	transition: all 0.5s ;
}

.nav-phone:hover {
	color: purple;
}

.nav-phone-2 {
	font-weight: bold;
	color: #fafafa;
	transition: all 0.5s ;
}

.nav-phone-2:hover {
	color: green;
}

.main-info {
	margin-top: 10%;
}

.main-title {
	color: #fafafa;
	font-weight: 800;
	font-size: 7.5rem;

}


.main-text {
	font-weight: 600;
	color: #fafafa;
}


.first__form input:not(:last-child) {
	margin-bottom: 10px;
}



.scroll-down {
	opacity: 1;
	-webkit-transition: all .5s ease-in 3s;
	transition: all .5s ease-in 3s;
  }
  
  .scroll-down {
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left: -16px;
	display: block;
	width: 32px;
	height: 32px;
	border: 2px solid #FFF;
	background-size: 14px auto;
	border-radius: 50%;
	z-index: 2;
	-webkit-animation: bounce 2s infinite 2s;
	animation: bounce 2s infinite 2s;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
	transform: scale(1)
  }
  
  .scroll-down:before {
	  position: absolute;
	  top: calc(50% - 8px);
	  left: calc(50% - 6px);
	  transform: rotate(-45deg);
	  display: block;
	  width: 12px;
	  height: 12px;
	  content: "";
	  border: 2px solid white;
	  border-width: 0px 0 2px 2px;
  }
  
  @keyframes bounce {
	0%,
	100%,
	20%,
	50%,
	80% {
	  -webkit-transform: translateY(0);
	  -ms-transform: translateY(0);
	  transform: translateY(0);
	}
	40% {
	  -webkit-transform: translateY(-10px);
	  -ms-transform: translateY(-10px);
	  transform: translateY(-10px);
	}
	60% {
	  -webkit-transform: translateY(-5px);
	  -ms-transform: translateY(-5px);
	  transform: translateY(-5px);
	}
  }


/* Second Page */


.second-title {
	margin-top: 8vh;
	color: black;
	font-weight: 800;
}

.second-text {
	padding-top: 6vh;
	color: black;
	font-weight: 600;
	font-size: 2.75vh;
}  

.second-title2 {
	margin-top: 8vh;
	color: black;
	font-weight: 800;
}

.img-colab {
	padding-top: 6vh;
}

.img-colab img {
	height: 15vh;
	padding-right: 20px;
	padding-left: 20px;
}

/* Third Page */

.section-3 {
	background-color: black; 
	margin-top: 15vh;
	position: relative;
}

.third-title {
	font-weight: 800;
	color: #fafafa;
	margin-bottom: 3vh;
}

.col-xl-6 {
	padding-right: 10px !important;
	padding-left: 10px !important;
}

.card {
	padding-top: 20px;
	background-color: #000000 !important;
}


.card-body {
	border: 1px solid #fafafa;
	background-color: #000000;
	color: #fafafa;
	border-radius: 5px;
	transition: all 0.5s;
	margin-top: 10px;
	height: 230px;
}

.card-title {
	font-size: bold;
}

.card-title::after {
	content: '';
	width: 45px;
	height: 2px;
	background-color: #fafafa;
	display: block;
	margin-top: 10px;
	margin-bottom: 30px;
}

/* Fourth */

.fourth-title {
	font-weight: 800;
	color: #000000;
	margin-top: 9vh;
}

.cont {
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 20px;
}

.cont .cards {
	position: relative;
	height: 250px;
	background: #FAFAFA;
	display: flex;
	width: 45%;
	margin: 30px 0;
	border-radius: 5px;
}

.cont .cards .imgBx {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fafafa;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: 0.5s ease-in-out;
	border-radius: 5px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.cont .cards:hover .imgBx {
	width: 150px;
	height: 150px;
	left: -75px;
	top: calc(50% - 75px);
	transition: 0.5s ease-in-out;
	background: #fafafa;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}

.cont .cards .imgBx img {
	max-width: 150px;
	transition: 0.5s ease-in-out;
}

.cont .cards:hover .imgBx img {
	max-width: 75px;

}

.cont .cards .content {
	position: absolute;
	right: 0;
	width: calc(100% - 75px);
	height: 100%;
	padding: 10px;
	justify-content: center;
	align-items: center;

}

.cont .cards .content h3 {
	padding-top: 4%;
	margin-bottom: 5px;
	font-size: 24px;
}


.cont .cards .content h3::after {
	content: '';
	width: 45px;
	height: 2px;
	background-color: black;
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
}

/* Fifth Page */

.section-5 {
	margin-top: 10vh;
	background-color: black;

}

.cont-5 {
	padding-top: 2.5%;
}

.fifth_title {
	font-weight: bold;
	color: #fafafa;
}

.fifth_title::after {
	content: '';
	width: 65px;
	height: 2px;
	background-color: #fafafa;
	display: block;
	margin-top: 5px;
	margin-bottom: 15px;
}

.fifth_text {
	font-weight: 600;
	font-size: 2.5vh;
	color: #fafafa;
}

.first__btn {
	background: #fafafa;
	border-radius: 10px;
	font-weight: bold;
	letter-spacing: -0.055em;
	padding: 13px 40px;
	margin-top: 10px;
	color: black;
	border: 1px solid black;
	transition: all 0.5s ;
}

.first__btn:hover {
	background: #fafafa;
	color: black;
}

/* Sixth Page */

.section-6 {
	margin-top: 15vh;
}

.sixth-title {
	font-weight: bold;
}

.sixth-title::after {
	content: '';
	width: 65px;
	height: 2px;
	background-color: black;
	display: block;
	margin-top: 5px;
	margin-bottom: 15px;
}

.sixth-text {
	font-weight: 600;
	font-size: 2.5vh;
}

/* Footer */

.footer {
	margin-top: 10vh;
	background-color: black;
	height: 5vh;
}

.span {
	color: #FAFAFA;
}