body {
	background-color: #fafafa; 
	font-family: 'Montserrat', sans-serif;

}

button {
	cursor: pointer;
	background-color: transparent;
	border: none;
}

div, p, span, a, input, button {
	box-sizing: border-box;
}

a {

	text-decoration: none;
	background-color: transparent;

  }

/* Firs Page */

.header {
	background-image: url("../img/1.jpg"); /* The image used */
	background-color: #000000; /* Used if the image is unavailable */
	height: 100vh; /* You must set a specified height */
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
}

.nav_title {
	font-weight: bold;
	color: #fafafa;

}

.nav_title:hover {
	color: #fff;
}

.nav_phone {
	font-weight: bold;
	color: #fafafa;
	transition: all 0.5s ;
}

.nav_phone:hover {
	color: purple;
}

.nav_phone2 {
	font-weight: bold;
	color: #fafafa;
	transition: all 0.5s ;
}

.nav_phone2:hover {
	color: green;
}

.main-info {
	margin-top: 13%;
}

.main-title {
	color: #fafafa;
	font-weight: 800;
	font-size: 7.5rem;

}


.main-text {
	font-weight: 600;
	color: #fafafa;
}


.first__form input:not(:last-child) {
	margin-bottom: 10px;
}



.scroll-down {
	opacity: 1;
	-webkit-transition: all .5s ease-in 3s;
	transition: all .5s ease-in 3s;
  }
  
  .scroll-down {
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left: -16px;
	display: block;
	width: 32px;
	height: 32px;
	border: 2px solid #FFF;
	background-size: 14px auto;
	border-radius: 50%;
	z-index: 2;
	-webkit-animation: bounce 2s infinite 2s;
	animation: bounce 2s infinite 2s;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
	transform: scale(1)
  }
  
  .scroll-down:before {
	  position: absolute;
	  top: calc(50% - 8px);
	  left: calc(50% - 6px);
	  transform: rotate(-45deg);
	  display: block;
	  width: 12px;
	  height: 12px;
	  content: "";
	  border: 2px solid white;
	  border-width: 0px 0 2px 2px;
  }
  
  @keyframes bounce {
	0%,
	100%,
	20%,
	50%,
	80% {
	  -webkit-transform: translateY(0);
	  -ms-transform: translateY(0);
	  transform: translateY(0);
	}
	40% {
	  -webkit-transform: translateY(-10px);
	  -ms-transform: translateY(-10px);
	  transform: translateY(-10px);
	}
	60% {
	  -webkit-transform: translateY(-5px);
	  -ms-transform: translateY(-5px);
	  transform: translateY(-5px);
	}
  }


/* Second Page */

.second_title {
	font-weight: 800;
	color: #000000;
	margin-top: 5vh;
	margin-bottom: 5vh;
}

.card {
	border: none;
}

.card-body {
	border: 1px solid #000;
	background-color: #fff;
	color: #000;
	border-radius: 5px;
	transition: all 0.5s;
	margin-top: 10px;
	height: 230px;
}

.card-body:hover {
	background: #000;
	color: #fff;
	box-shadow: 0px 5px 55px rgba(0, 0, 0, 0.25);
}

.card-title {
	font-size: bold;
}

.card-title::after {
	content: '';
	width: 45px;
	height: 2px;
	background-color: #000000;
	display: block;
	margin-top: 10px;
	margin-bottom: 30px;
}

/* Third Page */

.section_3 {
	height: 100vh;
	background-color: black; 
	margin-top: 15vh;
}

.third-title {
	padding-top: 8vh;
	color: #FAFAFA;
	font-weight: 800;
}

.third-text {
	padding-top: 6vh;
	color: #FAFAFA;
	font-weight: 600;
	font-size: 2.75vh;
}  

.third-title2 {
	padding-top: 8vh;
	color: #FAFAFA;
	font-weight: 800;
}

.img_colab {
	padding-top: 6vh;
}

.img_colab img {
	height: 15vh;
	padding-right: 20px;
}

/* Fourth Page */

.section_4 {
	margin-top: 10vh;
}

.fth_title {
	font-weight: bold;
}

.fth_title::after {
	content: '';
	width: 65px;
	height: 2px;
	background-color: black;
	display: block;
	margin-top: 5px;
	margin-bottom: 15px;
}

.fth_text {
	font-weight: 600;
	font-size: 2.5vh;
}

.first__btn {
	background: #000000;
	border-radius: 10px;
	font-weight: bold;
	letter-spacing: -0.055em;
	padding: 13px 40px;
	margin-top: 10px;
	color: #FAFAFA;
	border: 1px solid #fafafa;
	transition: all 0.5s ;
}

.first__btn:hover {
	background: #fafafa;
	color: black;
}

/* Fiveth Page */

.section_5 {
	margin-top: 15vh;
}

.five_title {
	font-weight: bold;
}

.five_title::after {
	content: '';
	width: 65px;
	height: 2px;
	background-color: black;
	display: block;
	margin-top: 5px;
	margin-bottom: 15px;
}

.five_text {
	font-weight: 600;
	font-size: 2.5vh;
}

/* Footer */

.footer {
	margin-top: 10vh;
	background-color: black;
	height: 5vh;
}

.span {
	color: #FAFAFA;
}